<h1 class="list-title"><%= @list.name %></h1>


<div class="table">
  <div class="js-tasks">
    <div class="tr">
      <span class="td task"><h3>Task</h3></span>
      <span class="td day"><h3>Days Left</h3></span>
      <span class="td done"><h3>Completed</h3></span>
    </div>
    <%= render partial: 'tasks/task', collection: @tasks, locals: { list: @list, task: @task } %>
  </div>

  <div class="new-task">
    <div class="tr">
      <%= render partial: 'tasks/form', locals: { list: @list, task: @task } %>

    </div>
  </div>

</div>

<%= javascript_include_tag "tasks" %>