<%= form_for [list, task], remote: true do |f| %>

  <span class="td task"><%= f.text_field :description, autocomplete: "off", class: 'form-field', placeholder: 'Enter your task here' %>

  <%= f.submit 'Save', class: 'button' %></span>
  <span class="td days"></span>
  <span class="td done"></span>

<% end %>
