<h1>My List</h1>
<% if @user.list %>
  <p class="list-image">
    <%= link_to(single_list_path) do %>
      <%= image_tag("/images/todo.png") %>
    <% end %>
  <br/>
  <%= link_to "Delete", @list, method: :delete, data: { confirm: "Are you sure you want to delete this list?" } %>
</p>
<% else %>
Create your to do list!
<br/><br/>
<div>
  <%= render partial: 'lists/form', locals: { list: @list } %>
</div>
<% end %>
